/* will use this css file to define style that will stay the same across multiple components */
.bg-dark-blue {
    background-color: #206b9c;
}
.bg-aqua {
    background-color: #e9fcfc;
}
.text-dark-blue {
    color: #165b8a;
}
.z-0 {
    z-index: 0;
}
.z-1 {
    position: relative;
    z-index: 1;
}