#FrontalDisplay {
    height: 65vh;
    width: 100%;
    margin-top: 100px;
}
.pad-right {
    min-width: 200px;
    position:relative;
    margin-right: 800px;
    text-align: center;
}
.pad-30 {
    padding-bottom: 30px;
}
.pad-bottom-50 {
    padding-bottom: 50px;
}
.pad-top-50 {
    padding-top: 50px;
}
.text-55 {
    font-size: 55pt;
}
.h-200 {
    height: 300px;
}
.text-white {
    color: white;
}