/* will use this css file to define styles for the nav bar */
#PageTop {
    z-index: 2;
    min-height: 100px;
}
.f-vw {
    font-size: 1.5vw;
}
.logo{
    // margin-left: 20px;
}
.logo:hover {
    transform: scale(1.25);
}
